:root {
  --title-font: "Rubik", sans-serif;
  --main-font: "Sofia Sans Semi Condensed", sans-serif;
  --main-color: #2a3990;
  --second-color: #9c254d;
  --thirt-color: #d23369;
  --forth-color: #f06292;
  --back-color: #222;
  --back-color-light: #eee;
  --back-color-second: #4b5052;
  --back-color-trans: rgba(35, 35, 35, 0.4);
}
body {
  /*   scroll-behavior: smooth; */
  color: var(--back-color);
  font-family: var(--main-font);
  background-color: var(--back-color-light);
  overflow-x: hidden;
}

/* Estilos generales */
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.seccion-clara {
  color: var(--fifth-color);
  background-color: var(--forth-color);
}
.seccion-oscura {
  color: var(--forth-color);
  background-color: var(--back-color);
}

/* Menu y opciones del menú */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}
.menu-card {
  width: 240px;
  height: 150px;
  border-radius: 0.75rem;
  margin: 0.5rem;
  text-align: center;
  color: var(--back-color-light);
  background-color: var(--main-color);
}
.menu-card img {
  border-radius: 0.75rem 0.75rem 0 0;
  height: 100px;
  width: 240px;
  object-fit: cover;
  object-position: 50% 35%;
}
.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}
.card {
  width: 240px;
  min-height: 300px;
  border-radius: 0.75rem;
  margin: 0.5rem;
}
.card img {
  border-radius: 0.75rem 0.75rem 0 0;
}
.card h3,
.card h2,
.card figcaption {
  padding: 0 1rem 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
}
